.background{
    position: relative; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background::before{
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;

    background-image: url("/web/assets/img/bg-loan.jpg");
    opacity: 0.02;
}

button{
    position: relative;
}